<div *ngIf="transactions">
  <table mat-table [dataSource]="transactions">
    <!-- <ng-container matColumnDef="transactionId">
    <th mat-header-cell *matHeaderCellDef>Transaction Id</th>
    <td mat-cell *matCellDef="let transaction">
      {{ transaction.transactionId }}
    </td>
  </ng-container> -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.quantity }}</td>
    </ng-container>
    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef>Total Amount</th>
      <td mat-cell *matCellDef="let transaction">
        {{ transaction.totalAmount | currency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let transaction">
        {{ transaction.description }}
      </td>
    </ng-container>
    <ng-container matColumnDef="transactionDate">
      <th mat-header-cell *matHeaderCellDef>Transaction Date</th>
      <td mat-cell *matCellDef="let transaction">
        {{ transaction.transactionDate | date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="settlementDate">
      <th mat-header-cell *matHeaderCellDef>Settlement Date</th>
      <td mat-cell *matCellDef="let transaction">
        {{ transaction.settlementDate | date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.symbol }}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let transaction">
        {{ transaction.action == 1 ? "Buy" : "Sell" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let transactionRow; columns: columnsToDisplay"></tr>
  </table>
</div>
