<h2>Portfolio</h2>

<h3>Desired Positions</h3>
<div class="rebalance-form" [formGroup]="rebalanceForm">
  <mat-form-field appearance="fill">
    <mat-label>Additional Investment</mat-label>
    <input
      matInput
      id="additional-investment"
      type="number"
      formControlName="additionalInvestment"
    />
  </mat-form-field>
  <ng-container formArrayName="desiredPositions">
    <ng-container
      [formGroupName]="i"
      *ngFor="let desiredPosition of desiredPositions.controls; let i = index"
    >
      <div class="rebalance-form-row">
        <mat-form-field appearance="fill">
          <mat-label>Symbol</mat-label>
          <input
            matInput
            id="desired-position-symbol-{{ i }}"
            type="text"
            formControlName="symbol"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>% of Account</mat-label>
          <input
            matInput
            id="desired-position-percent-of-account-{{ i }}"
            type="number"
            formControlName="percentOfAccount"
          />
        </mat-form-field>

        <mat-icon class="delete-btn" (click)="deleteDesiredPosition(i)">
          delete_forever</mat-icon
        >
      </div>
    </ng-container>
  </ng-container>

  <button mat-mini-fab (click)="addDesiredPosition()">
    <mat-icon class="add-course-btn">add</mat-icon> 
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="onExchangeSubmit()"
    type="submit"
  >
    Rebalance
  </button>
</div>


<ng-container *ngIf="rebalanceTransactions.length">
  <h3>Rebalance Transactions</h3>
  <app-transaction-table
    [transactions]="rebalanceTransactions"
    [columnsToDisplay]="rebalanceColumnsToDisplay"
  ></app-transaction-table>
</ng-container>

<ng-container *ngIf="exchangeTransactions.length">
  <h3>Rebalance Exchange</h3>
  <app-transaction-exchange-table [transactions]="exchangeTransactions">
  </app-transaction-exchange-table>
</ng-container>

<ng-container>
  <h3>Current Positions</h3>
  <app-portfolio-table [positions]="positions"></app-portfolio-table>
</ng-container>
