table {
  width: 100%;
  table-layout: fixed;

  th,
  td {
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .mat-row {
    &:nth-child(odd) {
      background-color: #f2f2f2;
    }
    &:hover {
      background-color: #d9d9d9;
    }
  }
}
