<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" fixedInViewport role="navigation">
    <mat-toolbar role="heading">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/transactions">Transactions</a>
      <a mat-list-item routerLink="/portfolio">Portfolio</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <mat-toolbar role="heading" color="primary">
      <button
        mat-icon-button
        type="button"
        aria-label="Toggle sidenav"
        (click)="sidenav.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar>

    <main>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
      <app-messages></app-messages>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
